gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
# Security — never push these
android/app/jugaad_fix.jks
android/key.properties
android/app/key.properties
google-services.json
android/app/google-services.json
lib/firebase_options.dart
*.jks
*.keystore
key.properties